{% extends 'base.html' %}
{% block content %}
<h2>World Map</h2>
<canvas id="mapCanvas" width="512" height="512" class="border mb-4"></canvas>
<div class="row">
  <div class="col-md-6">
    <h3>Metrics</h3>
    <canvas id="metricsChart"></canvas>
  </div>
  <div class="col-md-6">
    <h3>Log Summary</h3>
    <canvas id="logChart"></canvas>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script id="map-data" type="application/json">{{ {'token': token}|tojson }}</script>
<script src="https://cdn.jsdelivr.net/npm/pako@2.1.0/dist/pako.min.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
